<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>18/08/16 12:38:27</td>   <td>0</td> <td title="&gt;&gt;SupportTest.runOncePerSuite()[pri:0, instance:tests.LoginFlow@e25b2fe]">&gt;&gt;runOncePerSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/08/16 12:38:28</td>   <td>227</td> <td>&nbsp;</td><td title="&gt;&gt;SupportTest.runOncePerContext(org.testng.ITestContext)[pri:0, instance:tests.LoginFlow@e25b2fe]">&gt;&gt;runOncePerContext</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/08/16 12:38:28</td>   <td>248</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SupportTest.runOncePerClass(org.testng.ITestContext)[pri:0, instance:tests.LoginFlow@e25b2fe]">&gt;&gt;runOncePerClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/08/16 12:38:28</td>   <td>262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SupportTest.runOncePerMethod(org.testng.ITestContext, java.lang.reflect.Method)[pri:0, instance:tests.LoginFlow@e25b2fe]">&gt;&gt;runOncePerMethod</td> 
<td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>18/08/16 12:38:47</td>   <td>19182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFlow.Login()[pri:0, instance:tests.LoginFlow@e25b2fe]">Login</td> 
  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/08/16 12:39:51</td>   <td>83072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SupportTest.tearDown(org.testng.ITestResult)[pri:0, instance:tests.LoginFlow@e25b2fe]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
</table>
